In [22]:
import pickle

with open("bout_data.pkl", 'rb') as f:
    bout_df = pickle.load(f)

bout_df.tail()

,day,name,opponent,result,tournament,career_absent,career_losses,career_wins,last_absent,last_losses,...,BMI,BMI_opponent,BMI_diff,rank_ordered_diff,total_exp,total_exp_opponent,total_exp_diff,win_per_bout,win_per_bout_opponent,age_diff
97663,8,Daieisho,Amakaze,1,201609,0,41,34,0,10,...,42.351987,59.221408,-16.869422,0,75,0,75,0.453333,0.0,857
97664,4,Kagayaki,Amakaze,1,201609,0,19,11,0,8,...,38.739295,59.221408,-20.482113,0,30,0,30,0.366667,0.0,1060
97665,5,Daishomaru,Amakaze,0,201609,0,21,24,0,8,...,49.959184,59.221408,-9.262225,-1,45,0,45,0.533333,0.0,3
97666,9,Nishikigi,Amakaze,1,201609,0,14,16,0,6,...,43.918596,59.221408,-15.302812,-1,30,0,30,0.533333,0.0,-316
97667,1,Chiyoshoma,Amakaze,1,201609,0,0,0,0,0,...,35.295172,59.221408,-23.926237,0,0,0,0,0.000000,0.0,13

# Elo Rating History

In [347]:
%matplotlib ipympl
import matplotlib.patches as mpatches
import matplotlib.dates as mdates
import matplotlib.pyplot as plt
import numpy as np
plt.style.use('ggplot')
    
plt.figure(figsize=(10, 5))
ax = plt.subplot()

def plot_elo(bout_df, name, ax, **kwargs):
    rikishi = bout_df.loc[bout_df.name == name]
    rikishi = rikishi.loc[rikishi.date >= pd.datetime(2010, 1, 1)]
    rikishi = rikishi.sort_values(axis=0, by='date')
    for i, g in rikishi.groupby('tournament'):
        ax.plot(g.date, g.elo.values,  marker='', label=g.name.unique()[0], **kwargs)

    years = mdates.YearLocator()   # every year
    months = mdates.MonthLocator()  # every month
    yearsFmt = mdates.DateFormatter('%Y')
    
    # format the ticks
    ax.xaxis.set_major_locator(years)
    ax.xaxis.set_major_formatter(yearsFmt)
    ax.xaxis.set_minor_locator(months)

    ax.set_ylabel("Elo Rating")
    ax.set_xlabel("Basho")


patches = []
ax.set_title('Elo History for Tochinoshin')
for name, c in [('Tochinoshin', 'purple')]:
    plot_elo(bout_df, name, ax, color=c)
    patches.append(mpatches.Patch(color=c, label=name))
ax.legend(handles=patches)

FigureCanvasNbAgg()

In [348]:
plt.savefig("img/tochinoshin.png")

In [294]:
number_of_bouts = bout_df[bout_df.date > pd.datetime(1990, 1, 1)].shape[0]
number_of_rikishi = bout_df[bout_df.date > pd.datetime(1990, 1, 1)].name.unique().shape[0]

print(number_of_bouts, number_of_rikishi)

97632 262

In [391]:
import random
aki_basho = ['Kakuryu', 'Hakuho', 'Kisenosato', 'Goeido', 'Takayasu', 'Tochinoshin', 'Mitakeumi', 
              'Ichinojo', 'Tamawashi', 'Takakeisho', 'Ikioi', 'Kaisei', 'Yutakayama', 'Chiyotairyu', 
              'Shodai', 'Endo', 'Chiyonokuni', 'Abi', 'Myogiryu', 'Asanoyama']

aki_basho += ['Kagayaki', 'Onosho', 'Shohozan', 'Tochiozan', 'Takarafuji', 'Kotoshogiku', 'Hokutofuji', 'Daishomaru', 
             'Aoiyama', 'Daiesho', 'Sadanoumi', 'Kyokutaisei', 'Okinoumi', 'Nishikigi', 'Ryuden', 'Takanoiwa', 'Takanosho', 
             'Chiyomaru', 'Chiyoshoma', 'Yoshikaze', 'Kotoyuki', 'Ishiura']


aki_rikishi_bout_history = bout_df.loc[bout_df.name.isin(aki_basho)]
aki_rikishi_bout_history.sort_values('date', inplace=True)

last_rating = pd.concat([aki_rikishi_bout_history[aki_rikishi_bout_history.name == name].tail(1).loc[:, ['name', 'elo']]
               for name in aki_basho])
last_rating = last_rating.set_index('name')
last_rating = last_rating.sort_values('elo', ascending=False)

ratings = defaultdict(lambda: 1000)
for row in last_rating.iterrows():
    ratings[row[0]] = row[1].elo
    
# def generate_opponents(names):
#     bouts = {}
#     NUM_DAYS = 15
#     for name in names:
#         opponents = list(filter(lambda n: n != name, names))
#         bouts[name] = np.random.choice(opponents, replace=False, size=NUM_DAYS)
#     return bouts

def pop_random(lst):
    idx = random.randrange(0, len(lst))
    return lst.pop(idx)

def generate_random_bouts(all_names):
    NUM_DAYS = 15
    bouts = []

    history = defaultdict(list)
    
    for day in range(NUM_DAYS):
        day_names = all_names.copy()
        while len(day_names) > 0:
            name = day_names.pop()
            
            opponent = np.random.choice(list(filter(lambda x: x not in history[x] and x != name, day_names)), size=1)[0]
            day_names.remove(opponent)
            
            bout = name, opponent
            bouts.append(bout)
            
            history[name].append(opponent)
            history[opponent].append(name)
      
    return bouts

def simulate_bouts(bouts, ratings):
    score_dist = defaultdict(int)
    for name, opponent in bouts:
        current_rank = ratings[name]
        opponent_rank = ratings[opponent]
        p = elo.expected_outcome(current_rank, opponent_rank)
        outcome = 1 if np.random.random() < p else 0
        if outcome == 1:
            score_dist[name] += 1
            score_dist[opponent] += 0
        else:
            score_dist[opponent] += 1
            score_dist[name] += 0

    return score_dist
    

# def simulate_single_tournament(bouts, ratings):
#     score_dist = defaultdict(int)
#     for name, opponents in bouts.items():
#         for opponent in opponents:
#             current_rank = ratings[name]
#             opponent_rank = ratings[opponent]
#             p = elo.expected_outcome(current_rank, opponent_rank)
#             outcome = 1 if np.random.random() < p else 0
            
#             if outcome == 1:
#                 score_dist[name] += 1
#             else:
#                 score_dist[opponent] += 1
    
#     return score_dist
        

def simulate_tournament(names, ratings, samples=100000):
    score_dists = []
    for i in range(samples):
#         bouts = generate_opponents(names)
#         score_dist = simulate_single_tournament(bouts, ratings)
        bouts = generate_random_bouts(names)
        score_dist = simulate_bouts(bouts, ratings)
        score_dists.append(pd.Series(score_dist))
        if i % 1000 == 0:
            print("Simulating tournament: {}".format(i))
    return sum(score_dists) / samples

outcome = simulate_tournament(aki_basho, ratings, samples=100000)
outcome

/Users/samuel/miniconda3/envs/sumo/lib/python3.6/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Simulating tournament: 0
Simulating tournament: 1000
Simulating tournament: 2000
Simulating tournament: 3000
Simulating tournament: 4000
Simulating tournament: 5000
Simulating tournament: 6000
Simulating tournament: 7000
Simulating tournament: 8000
Simulating tournament: 9000
Simulating tournament: 10000
Simulating tournament: 11000
Simulating tournament: 12000
Simulating tournament: 13000
Simulating tournament: 14000
Simulating tournament: 15000
Simulating tournament: 16000
Simulating tournament: 17000
Simulating tournament: 18000
Simulating tournament: 19000
Simulating tournament: 20000
Simulating tournament: 21000
Simulating tournament: 22000
Simulating tournament: 23000
Simulating tournament: 24000
Simulating tournament: 25000
Simulating tournament: 26000
Simulating tournament: 27000
Simulating tournament: 28000
Simulating tournament: 29000
Simulating tournament: 30000
Simulating tournament: 31000
Simulating tournament: 32000
Simulating tournament: 33000
Simulating tournament: 34000
Simulating tournament: 35000
Simulating tournament: 36000
Simulating tournament: 37000
Simulating tournament: 38000
Simulating tournament: 39000
Simulating tournament: 40000
Simulating tournament: 41000
Simulating tournament: 42000
Simulating tournament: 43000
Simulating tournament: 44000
Simulating tournament: 45000
Simulating tournament: 46000
Simulating tournament: 47000
Simulating tournament: 48000
Simulating tournament: 49000
Simulating tournament: 50000
Simulating tournament: 51000
Simulating tournament: 52000
Simulating tournament: 53000
Simulating tournament: 54000
Simulating tournament: 55000
Simulating tournament: 56000
Simulating tournament: 57000
Simulating tournament: 58000
Simulating tournament: 59000
Simulating tournament: 60000
Simulating tournament: 61000
Simulating tournament: 62000
Simulating tournament: 63000
Simulating tournament: 64000
Simulating tournament: 65000
Simulating tournament: 66000
Simulating tournament: 67000
Simulating tournament: 68000
Simulating tournament: 69000
Simulating tournament: 70000
Simulating tournament: 71000
Simulating tournament: 72000
Simulating tournament: 73000
Simulating tournament: 74000
Simulating tournament: 75000
Simulating tournament: 76000
Simulating tournament: 77000
Simulating tournament: 78000
Simulating tournament: 79000
Simulating tournament: 80000
Simulating tournament: 81000
Simulating tournament: 82000
Simulating tournament: 83000
Simulating tournament: 84000
Simulating tournament: 85000
Simulating tournament: 86000
Simulating tournament: 87000
Simulating tournament: 88000
Simulating tournament: 89000
Simulating tournament: 90000
Simulating tournament: 91000
Simulating tournament: 92000
Simulating tournament: 93000
Simulating tournament: 94000
Simulating tournament: 95000
Simulating tournament: 96000
Simulating tournament: 97000
Simulating tournament: 98000
Simulating tournament: 99000

Abi             7.42202
Aoiyama         7.10578
Asanoyama       8.24076
Chiyomaru       4.49988
Chiyonokuni     7.66434
Chiyoshoma      4.84006
Chiyotairyu     8.27941
Daiesho         7.02770
Daishomaru      5.95358
Endo            7.37606
Goeido          8.93838
Hakuho         11.47895
Hokutofuji      7.90357
Ichinojo        8.58892
Ikioi           8.56184
Ishiura         5.28061
Kagayaki        7.07311
Kaisei          8.59110
Kakuryu        11.86015
Kisenosato      6.83668
Kotoshogiku     7.69342
Kotoyuki        3.10309
Kyokutaisei     5.86548
Mitakeumi      11.59018
Myogiryu        8.20733
Nishikigi       5.38164
Okinoumi        5.12147
Onosho          8.36459
Ryuden          5.97769
Sadanoumi       5.77573
Shodai          6.46582
Shohozan        6.35429
Takakeisho      9.33793
Takanoiwa       6.59631
Takanosho       7.01879
Takarafuji      6.20228
Takayasu       10.78968
Tamawashi       9.81677
Tochinoshin    11.66407
Tochiozan       7.22487
Yoshikaze       3.81176
Yutakayama      9.11391
dtype: float64

In [394]:
import re
rank_regex = re.compile(r'([A-Z])([0-9]*)')

aki_basho = ['Kakuryu', 'Hakuho', 'Kisenosato', 'Goeido', 'Takayasu', 'Tochinoshin', 'Mitakeumi', 
              'Ichinojo', 'Tamawashi', 'Takakeisho', 'Ikioi', 'Kaisei', 'Yutakayama', 'Chiyotairyu', 
              'Shodai', 'Endo', 'Chiyonokuni', 'Abi', 'Myogiryu', 'Asanoyama']

aki_basho += ['Kagayaki', 'Onosho', 'Shohozan', 'Tochiozan', 'Takarafuji', 'Kotoshogiku', 'Hokutofuji', 'Daishomaru', 
             'Aoiyama', 'Daiesho', 'Sadanoumi', 'Kyokutaisei', 'Okinoumi', 'Nishikigi', 'Ryuden', 'Takanoiwa', 'Takanosho', 
             'Chiyomaru', 'Chiyoshoma', 'Yoshikaze', 'Kotoyuki', 'Ishiura']

aki_ranks = ['Y', 'Y', 'Y', 'O', 'O', 'O', 'S', 'S', 'K', 'K', 'M1', 'M1', 'M2', 'M2', 'M3', 'M3', 'M4', 'M4', 'M4', 'M5',
             'M5', 'M6', 'M6', 'M7', 'M7', 'M8', 'M8', 'M9', 'M9', 'M10', 'M10', 'M11', 'M11', 'M12', 'M13', 'M13', 'M14',
             'M14', 'M15', 'M15', 'M16', 'M16']

def parse_rank_coarse(rank):
    matches = re.match(rank_regex, rank)
    g = matches.groups()
    if g[0] in ['Y', 'O', 'K', 'S']:
        if g[0] == 'Y':
            return 1
        elif g[0] == 'O':
            return 1
        elif g[0] == 'S':
            return 2
        elif g[0] == 'K':
            return 2
    elif g[0] == 'M' and g[1] is not None:
        if 0 < int(g[1]) <= 5:
            return 3
        elif 5 < int(g[1]) <= 10:
            return 4
        elif 10 < int(g[1]) <= 18:
            return 5
    else:
        return 6
    
banzuke = pd.DataFrame(list(zip(aki_basho, aki_ranks)), columns=['name', 'rank'])
banzuke['rank_coarse'] = banzuke['rank'].apply(parse_rank_coarse)
banzuke = banzuke.set_index('name')
banzuke['predicted_wins'] = outcome
banzuke = banzuke.sort_values(['rank_coarse', 'predicted_wins'], ascending=[True, False])
banzuke.predicted_wins = banzuke.predicted_wins.round(2)

banzuke['elo'] = ratings.values()
banzuke.elo = banzuke.elo.round(2)
banzuke.groupby('rank_coarse').head(1)
# banzuke
# print(banzuke[['rank', 'elo', 'predicted_wins']].to_csv())
# outcome.sort_values(ascending=False)

           rank  rank_coarse  predicted_wins      elo
name
Kakuryu       Y            1           11.86  1133.60
Mitakeumi     S            2           11.59  1058.21
Yutakayama   M2            3            9.11  1038.86
Onosho       M6            4            8.36  1005.06
Takanosho   M14            5            7.02   971.01

In [49]:
plt.figure(figsize=(10, 10))
ax = plt.subplot()
    
def plot_by_rank(df, name, ax):
    labels = ['Y', 'O', 'S', 'K', 'M1', 'M2', 'M3']
    gs = [g[name] for i, g in df.groupby('rank_ordered')]
    ax.hist(gs, density=True, label=labels)
    ax.legend()
    return ax
    
plot_by_rank(bout_df, 'elo', ax)
ax.set_title('Elo by Rank')

FigureCanvasNbAgg()

Text(0.5,1,'Elo by Rank')

In [53]:
plt.figure(figsize=(10, 10))
ax = plt.subplot()

def violinplot_by_rank(df, name, ax):
    data = np.array([g[name].values for i, g in df.groupby('rank_ordered')])

    ax.violinplot(
            data, showmeans=True, showmedians=True,
            showextrema=True, vert=False)
    labels = ['Y', 'O', 'S', 'K', 'M1', 'M2', 'M3']
    ax.set_yticks(np.arange(1, len(labels)+1))
    ax.set_yticklabels(labels)

violinplot_by_rank(banzuke_df, 'wins', ax)
ax.set_title("Elo Distributions by Rank")
ax.set_xlabel('elo')
ax.set_ylabel('rank')

FigureCanvasNbAgg()

Text(0,0.5,'rank')

In [142]:
elo_dist = bout_df.groupby('rank_ordered').elo.describe()
elo_dist.index = labels
elo_dist

,count,mean,std,min,25%,50%,75%,max
Y,4682.0,1117.137216,35.852449,989.762415,1098.344392,1114.618128,1141.906696,1212.418483
O,8852.0,1075.574999,34.806938,959.728177,1052.024849,1076.809657,1102.404578,1195.255526
S,5365.0,1057.801734,33.567750,944.703022,1035.450537,1057.593626,1078.698004,1158.870030
K,5012.0,1032.489069,27.420801,934.253641,1014.649371,1033.443128,1049.875085,1134.842350
M1,23620.0,1005.826466,28.271118,892.284864,987.040662,1005.240230,1024.112259,1121.397508
M2,23683.0,987.956176,25.661609,884.569185,970.683161,987.172193,1004.249061,1105.319571
M3,24148.0,977.547762,26.937160,863.928551,960.429834,977.992731,995.165397,1085.404247

In [52]:
banzuke_df = pd.read_pickle("banzuke_data.pkl")
banzuke_df.head()

,rank,rank_debut,score,name,rikishi_id,tournament,height,weight,kanto,shukun,...,career_losses,career_wins,last_absent,last_losses,last_wins,total_exp,win_per_bout,day,elo,elo_likelihood
0,M14,1.0,9-6,Akebono,1,199009,204.0,185.0,False,False,...,0,0,0,0,0,0,0.000000,1,1000.000000,0.581934
1,M7,0.0,9-6,Akebono,1,199011,204.0,185.0,True,False,...,6,9,0,6,9,15,0.600000,1,1013.908066,0.579074
2,M1,0.0,8-7,Akebono,1,199101,204.0,185.0,False,True,...,12,18,0,6,9,30,0.600000,1,1029.353289,0.396911
3,K,1.0,8-7,Akebono,1,199103,204.0,185.0,False,True,...,19,26,0,7,8,45,0.577778,1,1036.304870,0.264644
4,S,1.0,7-8,Akebono,1,199105,204.0,194.0,False,False,...,26,34,0,7,8,60,0.566667,1,1056.943117,0.682833

In [302]:
plt.figure(figsize=(8, 5))
ax = plt.subplot()

rikishi = bout_df.loc[bout_df['name'] == 'Kisenosato']

def make_record_table(rikishi):
    rikishi = rikishi.drop_duplicates(['tournament', 'day'])
    record = rikishi.pivot(index='tournament', columns='day', values='result')
    record.fillna(-1, inplace=True)
    return record

def plot_rikishi_record(rikishi, ax, index=-1):
    record = make_record_table(rikishi)
    record = record.tail(index)

    ax.set_xticklabels(record.columns)
    ax.set_yticklabels(record.index)

    ax.set_xticks(np.arange(len(record.columns)))
    ax.set_yticks(np.arange(len(record.index)))

    ax.set_xticks(np.arange(-.5,len(record.columns)), minor=True)
    ax.set_yticks(np.arange(-.5, len(record.index)), minor=True)

    ax.set_xlabel('Day')
    ax.set_ylabel('Basho')

    ax.grid(False)
    ax.grid(which='minor', color='w', linestyle='-', linewidth=2)
    im = ax.imshow(record.values, cmap='Pastel1_r')
    
    import matplotlib.patches as mpatches

    values = np.unique(record.values.ravel())
    labels = values.copy().astype(str)
    labels[labels == '0.0'] = 'Loss'
    labels[labels == '-1.0'] = 'Absent'
    labels[labels == '1.0'] = 'Win'
    colors = [ im.cmap(im.norm(value)) for value in values]

    patches = [ mpatches.Patch(color=colors[i], label="{}".format(labels[i]) , edgecolor='b' ) for i in range(len(values)) ]

    ax.legend(handles=patches, bbox_to_anchor=(1.05, 1),loc=2, borderaxespad=0.5, frameon=True)

plot_rikishi_record(rikishi, ax, index=10)

FigureCanvasNbAgg()

/Users/samuel/miniconda3/envs/sumo/lib/python3.6/site-packages/matplotlib/patches.py:83: UserWarning: Setting the 'color' property will overridethe edgecolor or facecolor properties.
  warnings.warn("Setting the 'color' property will override"

In [282]:
yokozuna_names = bout_df.loc[bout_df['rank'] == 'Y'].name.unique()
yokozuna_names = filter(lambda n: n not in ['Hakuho', 'Kisenosato', 'Kakuryu'], yokozuna_names)
yokozuna_bouts = [bout_df.loc[bout_df['name'] == name] for name in yokozuna_names]
data = map(lambda x: make_record_table(x).tail(5).replace(-1, 0).sum(axis=1).reset_index(drop=True), yokozuna_bouts)
data = pd.concat(data, axis=1).T

yokozuna_names = bout_df.loc[bout_df['rank'] == 'Y'].name.unique()
yokozuna_names = list(filter(lambda n: n not in ['Hakuho', 'Kisenosato', 'Kakuryu'], yokozuna_names))
data.index = yokozuna_names


from sklearn.cluster import KMeans
from sklearn.decomposition import PCA

kmeans = KMeans(n_clusters=3)
kmeans.fit(data.values)


plt.figure()
ax = plt.subplot()


for i, row in enumerate(data.values):
    cd = {0: 'red', 1: 'blue', 2: 'green'}
    c = cd[kmeans.labels_[i]]
    ax.plot(np.arange(5)+1, row, c=c)    

data['group'] = kmeans.labels_
print (data)
    
kinesato_bouts = [bout_df.loc[bout_df['name'] == "Kisenosato"]]
kinesato_data = map(lambda x: make_record_table(x).tail(5).replace(-1, 0).sum(axis=1).reset_index(drop=True), kinesato_bouts)
kinesato_data = np.array(list(kinesato_data))

print(kmeans.predict(kinesato_data))

ax.scatter(np.arange(5)+1, kinesato_data, c='lightblue')
ax.set_xticks(np.arange(5)+1)

/Users/samuel/miniconda3/envs/sumo/lib/python3.6/site-packages/matplotlib/pyplot.py:522: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  max_open_warning, RuntimeWarning)

FigureCanvasNbAgg()

                0     1     2     3     4  group
Chiyonofuji  13.0  12.0  13.0   2.0   1.0      1
Hokutoumi    12.0  13.0   8.0   2.0   0.0      1
Onokuni       8.0  10.0  10.0  12.0   2.0      0
Asahifuji    10.0  13.0   7.0   2.0   0.0      1
Akebono      12.0  13.0  13.0  13.0  14.0      2
Takanohana   15.0  12.0  13.0  12.0   4.0      0
Musashimaru  10.0  13.0   4.0   2.0   3.0      1
Wakanohana   13.0   5.0   3.0   7.0   2.0      1
Asashoryu    12.0  10.0  15.0  11.0  13.0      2
Harumafuji   10.0  10.0  11.0  12.0   0.0      0
[1]

[<matplotlib.axis.XTick at 0x17c1a4be0>,
 <matplotlib.axis.XTick at 0x17c1a4550>,
 <matplotlib.axis.XTick at 0x17c1a4438>,
 <matplotlib.axis.XTick at 0x17c276e10>,
 <matplotlib.axis.XTick at 0x17c2762e8>]